[Unit]
Description=Echo functionality for XLX
After=network.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/default/xlxecho
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/xlxecho $PEER $LISTEN_IP
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
